Analisando dados de produção hospitalar
-Victor Lamana

In [1]:
import pandas as pd

In [4]:
dados = pd.read_csv("E:\Onedrive\OneDrive - Louis Dreyfus Company\Personal\STUDY\POSTECH\AULA1\pos-datascience-analise-e-exploracao-de-dados-Dados\A150850189_28_143_208.csv",encoding='ISO-8859-1', skiprows=3,sep=';',skipfooter=12, thousands='.',decimal=',')

c:\Miniconda\lib\site-packages\pandas\util\_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [5]:
dados.head()

,Unidade da Federação,1992/Mar,1992/Abr,1993/Mai,1993/Dez,1994/Jan,1994/Fev,1994/Mai,1994/Ago,1994/Nov,...,2021/Jan,2021/Fev,2021/Mar,2021/Abr,2021/Mai,2021/Jun,2021/Jul,2021/Ago,2021/Set,Total
0,11 Rondônia,-,-,-,-,-,-,-,-,-,...,10045624.39,10677245.18,18147121.02,17753851.45,17659855.79,14435903.47,11834435.10,7371334.84,1682801.60,1.088060e+09
1,12 Acre,-,-,-,-,-,-,-,-,-,...,4175526.06,5282655.42,5699597.78,5002272.59,4326882.24,3458187.11,2302711.01,1196754.85,-,4.752903e+08
2,13 Amazonas,-,-,-,-,-,-,-,-,-,...,27406458.57,22341042.63,27923786.94,24515920.09,23973537.71,22175398.40,21614943.55,13806958.66,5292323.36,2.061943e+09
3,14 Roraima,-,-,-,-,-,-,-,-,-,...,3557821.99,4172285.82,5427226.70,4192540.54,3681417.80,3475205.55,3320807.96,2907871.07,1496814.75,3.525463e+08
4,15 Pará,-,-,-,-,-,-,-,-,-,...,39042349.46,37113440.70,49625416.13,52558327.29,50907226.77,43876590.47,33718084.12,20837865.89,4620263.03,4.968812e+09

In [6]:
dados.tail()

,Unidade da Federação,1992/Mar,1992/Abr,1993/Mai,1993/Dez,1994/Jan,1994/Fev,1994/Mai,1994/Ago,1994/Nov,...,2021/Jan,2021/Fev,2021/Mar,2021/Abr,2021/Mai,2021/Jun,2021/Jul,2021/Ago,2021/Set,Total
22,43 Rio Grande do Sul,-,-,-,-,-,-,-,-,-,...,1.159919e+08,1.267303e+08,1.696877e+08,1.453025e+08,1.550843e+08,1.428123e+08,1.128054e+08,74954589.62,25200345.68,1.361334e+10
23,50 Mato Grosso do Sul,-,-,-,-,-,-,-,-,-,...,2.472700e+07,2.560076e+07,3.250618e+07,3.310106e+07,3.688563e+07,3.159520e+07,2.071197e+07,11302985.98,2445267.12,2.516383e+09
24,51 Mato Grosso,-,-,-,-,-,-,-,-,-,...,1.888971e+07,2.154459e+07,3.579084e+07,3.753402e+07,3.785947e+07,3.493713e+07,2.936420e+07,19849249.43,7325067.61,2.386584e+09
25,52 Goiás,-,-,-,-,-,-,-,-,-,...,4.263870e+07,4.571547e+07,7.446406e+07,6.863041e+07,6.946733e+07,6.716235e+07,5.789129e+07,44939821.34,18860370.17,5.380179e+09
26,53 Distrito Federal,-,-,-,-,-,-,-,-,-,...,2.448472e+07,2.415606e+07,3.639103e+07,3.564176e+07,3.243456e+07,2.719646e+07,2.626552e+07,22156437.60,13173812.37,2.778457e+09

In [7]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Columns: 293 entries, Unidade da Federação to Total
dtypes: float64(170), object(123)
memory usage: 61.9+ KB

In [11]:
pd.options.display.float_format="{:.2f}".format

In [16]:
dados['2021/Jul'].mean()

60846287.0137037

In [15]:
dados.mean()

C:\Users\lamanv\AppData\Local\Temp\3/ipykernel_9656/3010149702.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dados.mean()

2007/Ago       304952.77
2007/Set       788145.26
2007/Out      2440162.96
2007/Nov      5517354.05
2007/Dez     12337159.42
                ...
2021/Mai     87271862.20
2021/Jun     77590406.47
2021/Jul     60846287.01
2021/Ago     43885716.30
Total      6852320913.49
Length: 170, dtype: float64